In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm
import seaborn as sns
import pandas as pd
from IPython.display import display


pd.options.display.max_columns = None
%matplotlib inline

# 한글 폰트
plt.rcParams['font.family'] = 'NanumGothic'
# 마이너스 깨짐 방지
matplotlib.rcParams['axes.unicode_minus'] = False

# 나눔 폰트 경로 설정
font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'  # 나눔 고딕의 경로
font_prop = fm.FontProperties(fname=font_path).get_name()

# 한글 폰트 설정
matplotlib.rcParams['font.family'] = font_prop

# 전역 팔레트 설정 (예: 'Set2' 팔레트 사용)
sns.set_palette('Set2')
sns_color = sns.color_palette('pastel')[0:5]

In [ ]:
# 데이터 불러오기
regular_season = pd.read_csv('../datas/Regular_Season_Batter.csv')
regular_season_day = pd.read_csv('../datas/Regular_Season_Batter_Day_by_Day_b4.csv')

# 데이터프레임 null 값 확인
display(pd.DataFrame({'regular_season': regular_season.isna().sum(), 'regular_season_day': regular_season_day.isna().sum()}).fillna(''))

'''
앞서 각 데이터의 null 값을 모두 채웠기 때문에 없다.
첫 연봉은 제대로된 정보가 없고, 있더라도 조금씩 달라서 제외했다.
''';

                regular_season regular_season_day
2B                         0.0                0.0
3B                         0.0                0.0
AB                         0.0                0.0
BB                         0.0                0.0
CS                         0.0                0.0
E                          0.0
G                          0.0
GDP                        0.0                0.0
H                          0.0                0.0
HBP                        0.0                0.0
HR                         0.0                0.0
OBP                        0.0
OPS                        0.0
R                          0.0                0.0
RBI                        0.0                0.0
SB                         0.0                0.0
SLG                        0.0
SO                         0.0                0.0
TB                         0.0
avg                        0.0
avg1                                          0.0
avg2                                          0.0
batter_id                  0.0                0.0
batter_name                0.0                0.0
career                     0.0
country                    0.0
date                                          0.0
hand                       0.0
height/weight              0.0
opposing_team                                 0.0
pos                        0.0
position                   0.0
starting_salary         1067.0
team                       0.0
year                       0.0                0.0
year_born                  0.0

'''
입력된 데이터 중에서 잘못 입력된 데이터들이 있다.
그 데이터들을 수정했다.

수정하기 전에 각 컬럼이 어떤 것인지 다시 한 번 확인해 보았다.
''';

| 컬럼 이름         | 뜻                                |컬럼 이름         | 뜻                                |
|--------------------|------------------------------------|--------------------|------------------------------------|
| batter_id         | 타자 ID (고유 식별자)                 |HBP               | 몸에 맞는 공 (Hit by Pitch)           |
| batter_name       | 타자 이름                             |SO                | 삼진 (Strikeouts)                     |
| year              | 시즌 연도                             |GDP               | 병살타 (Grounded Into Double Play)    |
| team              | 소속 팀 이름                          |SLG               | 장타율 (Slugging Percentage, 총 루타 / 타수) |
| avg               | 타율 (Batting Average, 안타 수 / 타수)|OBP               | 출루율 (On-base Percentage, 출루 횟수 / 타석)|
| G                 | 경기 수 (Games Played)                |E                 | 실책 수 (Errors)                      |
| AB                | 타수 (At-Bats)                        |height/weight     | 신장/체중 (Height/Weight)              |
| R                 | 득점 (Runs Scored)                    |year_born         | 출생 연도 (Year Born)                 |
| H                 | 안타 수 (Hits)                        |position          | 포지션 (Position)                     |
| 2B                | 2루타 (Doubles)                       |career            | 경력 (Career, 몇 년 차인지)           |
| 3B                | 3루타 (Triples)                       |starting_salary   | 연봉 (Starting Salary)                |
| HR                | 홈런 수 (Home Runs)                   |OPS               | OPS (출루율 + 장타율, On-base Plus Slugging)            |
| TB                | 루타 수 (Total Bases)                 |pos               | 세부 포지션 (Position Detail, 예: IF, OF 등)            |
| RBI               | 타점 (Runs Batted In)                 |hand              | 타격/투구 손잡이 (Hand, 예: R-우타, L-좌타)            |
| SB                | 도루 (Stolen Bases)                   |country           | 국적 (Country)                        |
| CS                | 도루 실패 (Caught Stealing)           |
| BB                | 볼넷 (Base on Balls)                  |

In [ ]:

# 안타는 1개 이상 있지만, 장타율이 0인 경우
regular_season[(regular_season['SLG'] == 0) & (regular_season['H'] > 0)]
batter_SLG = regular_season[['2B', '3B', 'HR']].sum() / regular_season['H']
# print(regular_season[['2B', '3B', 'HR']].sum())
# batter_SLG
# print(batter_SLG)
'''
    (단타 + 2루타 *2 + 3루타 * 3 + 홈런 * 4) / 타수
SLG = H + (2B * 2) + (3B * 3) + (HR * 4) / AB
''';

# print(sum([regular_season['2B'] * 2, regular_season['3B'] * 3, regular_season['HR'] * 4]) / regular_season['H'])
# print(regular_season['SLG'])
regular_season['2B']

In [21]:
regular_season['SLG'] = regular_season.apply(lambda x: sum([x['H'], x['2B'] * 2, x['3B'] * 3, x['HR'] * 4]) / x['AB'] if x['AB'] != 0 else 0, axis=1)
regular_season['SLG']

0       0.612022
1       0.000000
2       0.418605
3       0.366559
4       0.316832
          ...
2449    0.000000
2450    0.000000
2451    0.000000
2452    0.478632
2453    0.416667
Name: SLG, Length: 2454, dtype: float64

In [24]:
regular_season.loc[
    regular_season['H'] == 0
]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS,pos,hand,country
1,1,강경학,2011,한화,0.0,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000,내야수,좌타,한국인
7,2,강구성,2013,NC,0.0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000,외야수,좌타,한국인
9,2,강구성,2016,NC,0.0,2,3,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000,외야수,좌타,한국인
10,2,강구성,2017,NC,0.0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000,외야수,좌타,한국인
14,138,백승룡,2007,한화,0.0,8,4,3,0,0,0,0,0,0,0,0,0,0,2,1,0.0,0.000,0,180cm/83kg,1982년 08월 16일,내야수(우투우타),사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000,내야수,우타,한국인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,341,황윤호,2015,NC,0.0,10,5,2,0,0,0,0,0,0,0,0,1,0,1,0,0.0,0.167,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.167,내야수,우타,한국인
2448,344,황진수,2013,롯데,0.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인
2449,344,황진수,2014,롯데,0.0,5,5,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인
2450,344,황진수,2015,롯데,0.0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인
2451,344,황진수,2016,롯데,0.0,11,10,2,0,0,0,0,0,0,0,1,0,0,5,0,0.0,0.000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000,내야수,양타,한국인