In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm
import seaborn as sns
import pandas as pd
from IPython.display import display


pd.options.display.max_columns = None
%matplotlib inline

# 한글 폰트
plt.rcParams['font.family'] = 'NanumGothic'
# 마이너스 깨짐 방지
matplotlib.rcParams['axes.unicode_minus'] = False

# 나눔 폰트 경로 설정
font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'  # 나눔 고딕의 경로
font_prop = fm.FontProperties(fname=font_path).get_name()

# 한글 폰트 설정
matplotlib.rcParams['font.family'] = font_prop

# 전역 팔레트 설정 (예: 'Set2' 팔레트 사용)
sns.set_palette('Set2')
sns_color = sns.color_palette('pastel')[0:5]

In [ ]:
# 데이터 불러오기
regular_season = pd.read_csv('../datas/Regular_Season_Batter.csv')
regular_season_day = pd.read_csv('../datas/Regular_Season_Batter_Day_by_Day_b4.csv')

# 데이터프레임 null 값 확인
pd.DataFrame({'regular_season': regular_season.isna().sum(), 'regular_season_day': regular_season_day.isna().sum()}).fillna('')

'''
앞서 각 데이터의 null 값을 모두 채웠기 때문에 없다.
첫 연봉은 제대로된 정보가 없고, 있더라도 조금씩 달라서 제외했다.
''';

                regular_season regular_season_day
2B                         0.0                0.0
3B                         0.0                0.0
AB                         0.0                0.0
BB                         0.0                0.0
CS                         0.0                0.0
E                          0.0
G                          0.0
GDP                        0.0                0.0
H                          0.0                0.0
HBP                        0.0                0.0
HR                         0.0                0.0
OBP                        0.0
OPS                        0.0
R                          0.0                0.0
RBI                        0.0                0.0
SB                         0.0                0.0
SLG                        0.0
SO                         0.0                0.0
TB                         0.0
avg                        0.0
avg1                                          0.0
avg2                                          0.0
batter_id                  0.0                0.0
batter_name                0.0                0.0
career                     0.0
country                    0.0
date                                          0.0
hand                       0.0
height/weight              0.0
opposing_team                                 0.0
pos                        0.0
position                   0.0
starting_salary         1067.0
team                       0.0
year                       0.0                0.0
year_born                  0.0

In [ ]:
'''
입력된 데이터 중에서 잘못 입력된 데이터들이 있다.
그 데이터들을 수정했다.
'''

# 안타는 1개 이상 있지만, 장타율이 0인 경우
regular_season[(regular_season['SLG'] == 0) & (regular_season['H'] > 0)]
batter_SLG = regular_season[['2B', '3B', 'HR']].sum() / regular_season['H']
# batter_SLG

'''
SLG = (2B * 2) + (3B * 3) + (HR * 4) / H
'''
regular_season[['2B', '3B', 'HR']].sum(axis=1) / regular_season['H']

0       0.274194
1            NaN
2       0.315789
3       0.162500
4       0.375000
          ...
2449         NaN
2450         NaN
2451         NaN
2452    0.264706
2453    0.500000
Length: 2454, dtype: float64

In [32]:
for H2B, H3B, HR in regular_season[['2B', '3B', 'HR']].iterrows():
    print(H2B, H3B, HR)

ValueError: not enough values to unpack (expected 3, got 2)